/*
	Technology by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/


/*
====================================
------------------------------------
	1. General
	2. Home
	3. Social Icons
	4. Service
	5. About
	6. Contact
	7. Footer
-------------------------------------
=====================================
*/

/* === General === */
	@import url(http://fonts.googleapis.com/css?family=PT+Sans|Lato:700,900);

	body {
		font-family: 'pt sans', sans-serif;
		position: relative;
		font-weight:400;
		background: #fff;
		color:#43484E
	}

	html, body {
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		overflow-x: hidden;
	}

	a:hover {
		outline: none;
		text-decoration:none;
	}

	a:focus {
		outline:none;
		outline-offset: 0;
	}

	textarea:focus, input:focus{
		outline:none;
		outline-offset: 0;
	}

	a {
		-webkit-transition: 300ms;
		-moz-transition: 300ms;
		-o-transition: 300ms;
		transition: 300ms;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: 'lato', sans-serif;
		font-weight: 700;
		text-rendering: optimizelegibility;
	}

	.btn-primary:focus,
	.btn-primary:active{
		outline: none;
	}

	#st-preloader {
		background: #FFF;
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 9999;
	}

	#pre-status,
	.preload-placeholder {
		background-image: url(../images/preloader.gif);
		background-position: center;
		background-repeat: no-repeat;
		height: 50px;
		left: 50%;
		margin: -25px 0 0 -25px;
		position: absolute;
		top: 50%;
		width: 50px;
	}

	.preload-placeholder {
		background: none;
		left: 0;
		margin: 0;
		text-align: center;
		top: 65%;
	}

/* === Home === */
	#home-page{
		background-image: url(../images/slider.jpg);
		position: relative;
		background-position: 50% 0;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.home-bg{
		background: rgba(0, 0, 0, 0.7);
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.main-logo {
		margin-bottom: 50px;
	}

	.home-page h1{
		text-transform: uppercase;
		font-size: 30px;
		font-weight: 900;
		letter-spacing: 0.03em;
	}

	.home-page h2{
		font-size: 40px;
		color: #ffffff;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 0.03em;
	}

	.home-page p{
		font-size: 14px;
		color: #fefefe;
		margin-bottom: 20px;
	}

	.tk-countdown {
		color: #fff;
		margin-top: 35px;
		text-align: center;
		margin-bottom: 65px;
	}

	.tk-countdown > * {
		text-align: center;
	}

	.tk-countdown div.days{
		border: 2px solid;
		border-radius: 0px;
		width: 120px;
		height: 120px;
		padding-top: 15px;
		margin: 15px;
	}

	.tk-countdown div.hours{
		border: 2px solid;
		border-radius: 0px;
		width: 120px;
		height: 120px;
		padding-top: 15px;
		margin: 15px;
	}

	.tk-countdown div.minutes{
		border: 2px solid;
		border-radius: 0px;
		width: 120px;
		height: 120px;
		padding-top: 15px;
		margin: 15px;
	}

	.tk-countdown div.seconds{
		border: 2px solid;
		border-radius: 0px;
		width: 120px;
		height: 120px;
		padding-top: 15px;
		margin: 15px;
	}

	.tk-countdown div {
		display: inline-block;
	}

	.tk-countdown div span {
		display: block; 
	}

	.tk-countdown div span:first-child {
		height: 64px;
		font-family: 'pt sans', sans-serif;
		font-weight: 300;
		font-size: 60px;
		line-height: 64px;
		color: #f7f7f7;
	}

	.tk-countdown div span:last-child {
		height: 20px;
		font-family: 'pt sans', sans-serif;
		font-weight: 300;
		font-size: 18px;
		line-height: 20px;
	}

	.subscribe-area .form-control{
		background: transparent;
		border: 1px solid;
		width: 270px;
		border-radius: 0px;
		color: #808b8d;
		margin-right: -4px;
		display: inline-block;
		line-height: 18px;
		font-size: 14px;
		height: 40px;
	}

	.submit-bt{
		color: #fff;
		border: 1px solid;
		font-size: 19px;
		padding: 6px 20px 8px 20px;
		border-radius: 0px;
		line-height: 25px;
		height: 40px;
		margin-top: -3px;
	}

	.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
		color: #fff;
	}

	.st-subscribe-message{
		color: #fff;
		font-weight: 400;
		margin-top: 8px;
	}

	.st-subscribe-message .fa-warning{
		color: #FA1818;
	}

	.st-subscribe-message .fa-check{
		color: #00C227;
	}


/* === Social Icons === */
	.social-shear{
		margin-top: 20px;
	}

	.social-shear a i{
		border: 1px solid;
		font-size: 20px;
		width: 35px;
		height: 35px;
		line-height: 35px;
		border-radius: 0px;
		margin: 4px;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

	.social-shear a:hover i{
		color: #ffffff;
	}


/* === Service === */
	#service-page{
		background-color: #ffffff;
		padding-top: 100px;
	}

	#service-page .service-title{
		color: #000000;
		font-size: 30px;
		text-transform: uppercase;
		padding-bottom: 18px;
	}

	.service-aro-icon {
		width: 380px;
		margin: 0 auto;
	}

	.service-aro-left {
		width: 150px;
		height: 1px;
		float: left;
		margin-top: 16px;
	}

	.service-aro-right {
		width: 150px;
		height: 1px;
		float: right;
		margin-top: 16px;
	}

	.service-aro-icon i {
		font-size: 16px;
		border: 1px solid;
		width: 33px;
		height: 33px;
		line-height: 32px;
		border-radius: 0px;
	}

	#service-page h2{
		color: #808b8d;
		font-size: 24px;
		text-transform: uppercase;
		margin-top: 30px;
		margin-bottom: 20px;
	}

	#service-page p{
		color: #808b8d;
		font-size: 14px;
		margin-bottom: 40px;
	}

	.service{
		margin-top: 10px;
	}

	.service i{
		background: transparent;
		border: 2px solid ;
		font-size: 30px;
		padding: 18px;
		border-radius: 0px;
		width: 72px;
		height: 70px;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

	.service:hover i{
		color: #ffffff;
	}

	.service h3{
		color: #000000;
		font-size: 18px;
		text-transform: uppercase;
	}

	.service p{
		color: #808b8d;
		font-size: 14px;
	}


/* === About === */
	#about-page{
		background-color: #1b1b1b;
		padding: 100px 0px;
	}

	#about-page .about-title{
		color: #f4f4f4;
		font-size: 30px;
		text-transform: uppercase;
		padding-bottom: 18px;
	}

	#about-page h2{
		color: #808b8d;
		font-size: 24px;
		text-transform: uppercase;
		margin-top: 30px;
		margin-bottom: 20px;
	}

	#about-page p{
		color: #808b8d;
		font-size: 14px;
		margin-bottom: 40px;
	}

	.member{
		margin-top: 25px;
	}

	.member .member-img{
		position: relative;
		width: 300px;
		margin: auto;
	}

	.member .member-img:before{
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		z-index: 200;
		content: "";
		width: 100%;
		height: 100%;
		background-color: #000;
		position: absolute;
		top: 0;
		opacity: 0;
		border-radius: 0px;
	}

	.member .member-img:hover:before{
		opacity: 0.6;
	}

	.member .member-img img{
		border-width: 3px;
		border-style: solid;
		border-radius: 0px;
		width: 100%;
		height: auto;
	}

	.member-social{
		position: absolute;
		width: 303px;
		height: 303px;
		top: 0;
		left: 0;
	}

	.member-social .facebook-icon i{
		color: #ffffff;
		font-size: 20px;
		width: 35px;
		height: 35px;
		line-height: 35px;
		border-radius: 0px;
		margin: 1px;
		position: absolute;
		top: -0px;
		left: 114px;
		z-index: -999;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.member .member-img:hover .facebook-icon i{
		top: 114px;
		z-index: 300;
	}

	.member-social .twitter-icon i{
		color: #ffffff;
		font-size: 20px;
		width: 35px;
		height: 35px;
		line-height: 35px;
		border-radius: 0px;
		margin: 1px;
		position: absolute;
		top: 114px;
		right: -0px;
		z-index: -999;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.member .member-img:hover .twitter-icon i{
		right: 114px;
		z-index: 300;
	}

	.member-social .linkedin-icon i{
		color: #ffffff;
		font-size: 20px;
		width: 35px;
		height: 35px;
		line-height: 35px;
		border-radius: 0px;
		margin: 1px;
		position: absolute;
		bottom: 114px;
		left: -0px;
		z-index: -999;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.member .member-img:hover .linkedin-icon i{
		left: 114px;
		z-index: 300;
	}

	.member-social .google-plus-icon i{
		color: #ffffff;
		font-size: 20px;
		width: 35px;
		height: 35px;
		line-height: 35px;
		border-radius: 0px;
		margin: 1px;
		position: absolute;
		bottom: -0px;
		right: 114px;
		z-index: -999;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	.member .member-img:hover .google-plus-icon i{
		bottom: 114px;
		z-index: 300;
	}

	.member h3{
		color: #f7f7f7;
		font-size: 24px;
		text-transform: uppercase;
		font-weight: bold;
	}

	.member span{
		font-size: 18px;
	}



/* === Contact === */
	#contact-page{
		background-color: #ffffff;
		padding: 100px 0px;
	}

	.contact-form-area h1.contact-title{
		color: #000000;
		font-size: 30px;
		text-transform: uppercase;
		padding-bottom: 18px;
	}

	.contact-form-area h2{
		color: #808b8d;
		font-size: 24px;
		text-transform: uppercase;
		margin-top: 30px;
		margin-bottom: 20px;
		letter-spacing: 0.03em;
	}

	.contact-form-area p{
		color: #808b8d;
		font-size: 14px;
		margin-bottom: 40px;
	}

	.contact-form .form-control{
		border-radius: 0px;
		background-color: transparent;
		margin-top: 28px;
	}

	.contact-form textarea{
		resize: none;
	}

	.contact-form .submit-button{
		border-radius: 0px;
		padding: 8px 30px;
		font-size: 20px;
		font-weight: 400;
		margin-top: 28px;
		text-transform: uppercase;
	}


/* === Footer === */
	.footer {
		padding-top: 40px;
		padding-bottom: 40px;
		color: rgba(255, 255, 255, 0.4);
		background-color: #262626;
	}




/* === Responsive === */

/* Small devices (mobiles, 320px and up) */
@media (min-width: 320px) and (max-width: 479px){
	.subscribe-area .form-control {
		padding: 18px 12px 20px 14px;
		width: 270px;
		border-radius: 0px 0px 0px 0px;
		margin-right: 0px;
	}
	.submit-bt {
		padding: 7px 20px 8px;
		border-radius: 0px 0px 0px 0px;
		width: 270px;
		margin-top: 0px;
		margin-left: 3px;
		
	}
	.member .member-img {
		width: 270px;
	}
	.member-social {
		width: 270px;
		height: 270px;
	}
	.member .member-img:hover .facebook-icon i {
		top: 98px;
	}
	.member-social .facebook-icon i {
		left: 98px;
	}
	.member .member-img:hover .twitter-icon i {
		right: 98px;
	}
	.member-social .twitter-icon i {
		top: 98px;
	}
	.member .member-img:hover .linkedin-icon i {
		left: 98px;
	}
	.member-social .linkedin-icon i {
		bottom: 98px;
	}
	.member .member-img:hover .google-plus-icon i {
		bottom: 98px;
	}
	.member-social .google-plus-icon i {
		right: 98px;
	}
	
}
