@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
/*font-family: 'DotGothic16', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
/*font-family: 'Source Code Pro', monospace;*/

body {
	background-color: black;
	background-image: url(wallpaper.png);
	background-size: cover;
	font-family: 'Source Code Pro', monospace;
	-ms-overflow-style: none;
	-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
}
::-webkit-scrollbar{overflow: hidden;}



#code {
	width: 60vw;
	height: 100%;
	color: #40FF00;
	font-size: 1.2rem;
	word-break:break-all;
}
/*
#alert {
	width: 15vw;
	background-color: black;
	color: #58D3F7;
	display: none;
	border: 1px solid #58D3F7;
	text-align: center;
	position: fixed;
	text-align: center;
	position: fixed;
  	bottom: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

#alert2 {
	width: 15vw;
	background-color: black;
	color: #FE2E2E;
	display: none;
	border: 1px solid #FE2E2E;
	text-align: center;
	position: fixed;
	text-align: center;
	position: fixed;
  	bottom: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.green {
	background-color: #40FF00;
	font-size: 20px;
	line-height: 1.8em;
	color: #FFF;
	text-align: center;
	border-radius: 15px;
	display: inline-block;
	width: 1.2vw;
	height: 80%;
	position: absolute;
	bottom: 0;
	
}

#world {
	text-align: center;
	height: 20vh;
	position: fixed;
	top : 50vh;
	width: 15vw;
	right: 0;
	
}

#cus {
	position: fixed;
	height: 10vh;
	bottom: 10vh;
	right: 0;
	color: white;
	
}*/
/*화면 레이아웃*/

p{
	margin: 0px 0px 0px 0px;
}
#jb-all {
	width: 90vw;
	margin: auto;
	box-shadow: 0.5vw 0.5vw 0.5vw #666;
	
}
#jb-content {
	width: 90vw;
	height: 85vh;
	margin: 0px auto;
	color: white;
	overflow:auto;
	background-color: #340f26;
}
	
.content::-webkit-scrollbar {
	width: 3px;
	height: 5px;
}
.content::-webkit-scrollbar-thumb {
	background-color: #c46336;
	border-radius: 10px;
}
.content::-webkit-scrollbar-track {
	background-color: #340f26;
}
#jb-header {
	width:90vw;
	height : 4.5vh;
	margin: 0px auto;
	background-color: #4c4a43;
	color: white;
	padding-left: 1vw;
	font-size: 2.5vh;
	border-radius: 8px 8px 0px 0px;
	margin-top: 3vh;
}

.fab {
	color:white;
}
#textoutput {
	width: 88vw;
	height: auto;
	color : white;
	line-height: 120%;
	font-size: 1.5em;
	font-family: 'Source Code Pro', monospace;
	display: block;
	padding: 0%;
	
}
pre {
	color : white;
	height: auto;
	overflow: visible;
	font-size: 1em;
	font-family: 'Source Code Pro', monospace;
	margin: 0px;
}
#textinput {
	width: 88vw;
	color : rgba(255, 255, 255, 0);
	font-size: 1.5em;
	font-family: 'Source Code Pro', monospace;
	display:flex;
    flex-direction:row;
	padding: 0%;
}
#testfor{
	width: 88vw;
	color : white;
	font-size: 1.5em;
	font-family: 'Source Code Pro', monospace;
    flex-direction:row;	
	white-space:nowrap;
	display: block;
	padding: 0%;
}
#inputplace{
	font-family: 'Source Code Pro', monospace;
	z-index: 1;
	line-height: 0%;
	padding: 0%;
	color:rgba(255, 255, 255, 0);
	background-color: rgba( 255, 255, 255, 0 );;
	border-style:hidden;
	border:none;
	border-right:0px; 
	border-top:0px; 
	border-left:0px;
	border-bottom:0px;
	ime-mode:disabled;
	font-size: 1.5rem;
	width: 100%;
	color: transparent;
  	text-shadow: 0 0 0;
	&:focus {
		outline: none;
	}
	
}
#finaltest{
	font-family: 'Source Code Pro', monospace;
	color:white;
	background-color: rgba( 255, 255, 255, 0 );
	border-style:hidden;
	border:none;
	border-top:0px; 
	padding: 0%;
	border-left:0px; 
	border-bottom:0px;
	width: auto;
	font-size: 1.5rem;
	border-right: solid 14px white;
	color: transparent;
	animation: cureffect 1s steps(1) infinite;
  	text-shadow: 0 0 0 white;
	&:focus {
		outline: none;
	}
} 
#inputplace:focus{
	border:none;
	border-right:0px; 
	border-top:0px; 
	border-left:0px; 
	border-bottom:0px;
	outline: none;
}
@keyframes cureffect{ 
	0%{border-right: 14px solid white} 
	50%{border-right: 14px solid #340f26}
	100%{border-right: 14px solid white} 
  }

.no-drag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}
